In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [ ]:
from google.colab import files
uploaded = files.upload()
dataset = pd.read_csv('Renting_data.csv')

Saving Renting_data.csv to Renting_data (1).csv

In [ ]:
df=dataset[['neighbourhood_group','neighbourhood','room_type','availability_365','price']]
df

      neighbourhood_group       neighbourhood  ... availability_365  price
0                Brooklyn          Kensington  ...              365    149
1               Manhattan             Midtown  ...              355    225
2               Manhattan              Harlem  ...              365    150
3                Brooklyn        Clinton Hill  ...              194     89
4               Manhattan         East Harlem  ...                0     80
...                   ...                 ...  ...              ...    ...
48890            Brooklyn  Bedford-Stuyvesant  ...                9     70
48891            Brooklyn            Bushwick  ...               36     40
48892           Manhattan              Harlem  ...               27    115
48893           Manhattan      Hell's Kitchen  ...                2     55
48894           Manhattan      Hell's Kitchen  ...               23     90

[48895 rows x 5 columns]

In [ ]:
x=df.drop('price',axis=1)
x

      neighbourhood_group  ... availability_365
0                Brooklyn  ...              365
1               Manhattan  ...              355
2               Manhattan  ...              365
3                Brooklyn  ...              194
4               Manhattan  ...                0
...                   ...  ...              ...
48890            Brooklyn  ...                9
48891            Brooklyn  ...               36
48892           Manhattan  ...               27
48893           Manhattan  ...                2
48894           Manhattan  ...               23

[48895 rows x 4 columns]

In [ ]:
y=df['price']
y

0        149
1        225
2        150
3         89
4         80
        ...
48890     70
48891     40
48892    115
48893     55
48894     90
Name: price, Length: 48895, dtype: int64

In [ ]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
x['neighbourhood_group'] = le.fit_transform(x['neighbourhood_group'])
x['neighbourhood'] = le.fit_transform(x['neighbourhood'])
x['room_type'] = le.fit_transform(x['room_type'])
x['availability_365'] = le.fit_transform(x['availability_365'])

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size = 0.33, random_state = 1)

In [ ]:
X_train

       neighbourhood_group  neighbourhood  room_type  availability_365
15106                    2            191          1               365
38208                    1            175          1                48
6848                     2             94          0                 0
42574                    2             64          1                91
12086                    1             85          1                 0
...                    ...            ...        ...               ...
43723                    2            202          1               311
32511                    2            209          0                 0
5192                     1            214          1                 8
12172                    1             41          0               327
33003                    1            159          1               342

[32759 rows x 4 columns]